.group {
  width: 30em;
  border-radius: calc(var(--base-spacing) / 2);
  background-color: #fff;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #c6ccd9;
}

.tab {
  padding: var(--base-spacing) calc(var(--base-spacing) * 2);
}

.tab a {
  font-size: var(--size-l);
  text-decoration: none;
  color: inherit;
}

.active {
  border-bottom: 2px solid #000;
}

.body {
  height: 100%;
  padding: calc(var(--base-spacing) * 2) 0;
}

/* Declare transition start properties*/
.background-enter {
  transform: translate(100%);
}
.background-enter.background-enter-active {
  transform: translate(0%);
  transition: transform 1000ms ease-in-out;
}
.background-leave {
  transform: translate(0%);
}
.background-leave.background-leave-active {
  transform: translate(-100%);
  transition: transform 1000ms ease-in-out;
}
